<h1>Welcome to the Film Page!</h1>
<% for(var i = 0; i<films.length; i++){ %>
	<a href="films/<%= films[i].id %>" id="<%= films[i].id %>">
		<h2>
			<%= films[i].title %>
		</h2>
	</a>
	<p> <%= films[i].description %> </p>
	<a href="/films/<%= films[i].id %>/edit">Edit</a>
<%}%>
